<script type="text/javascript" src="/assets/weekSchedule.js"></script>
  
  
<div class="row whiteUI ">
  <div class="col-md-2">
    <h1>Edit</h1>
    <div class="form-group">
      <label>Classes  </label>  
      <button class="btn btn-xs pull-right" onclick="addClassesBox()" type="button"> <span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="form-group" id="classesBoxGroup"></div>
    <div class="form-group">
      <button type="button" onclick="loadSchedule()" class="btn btn-default">Create</button>
      <label id="loadingTag"></label>
    </div>
    <table id="largeTableSchedule" class="table"></table>
  </div>
  <div id="canCol" class="col-md-10 ">
      <div class="form-inline">
        <h1> Schedule</h1>
        <select id="selectSchedule" class="form-control" onchange="updateTable(this.selectedIndex)"></select>
      </div>
      <div class = "device-md visible-md visible-lg">
      <canvas id="c" width="100%" height="901px"></canvas>
      <script>
      addData(<%=  raw @coursesList.to_json -%>);
      createWeekcalendar()
              $(window).resize(createWeekcalendar);</script>
      </div>
      <div class="device-xs visible-xs visible-sm">
        <table id="smallTableSchedule" class="table"></table>
      </div>
    </div>
</div>




