<div class="row whiteUI">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Dashboard</h1>
    <p>An duis vidit labore duo. Libris aliquando quo ei, eos eu modus ceteros corrumpit, eu dolor dolorum vulputate eam. Eum debet sententiae ad, ea vel cibo habeo splendide. Ea vix sanctus vivendo nostrum, an soluta praesent interpretaris per, exerci civibus definiebas ex mei. Nec convenire evertitur an.</p>
    <p>Feugiat molestie sed ex, eam et atqui congue abhorreant. Pro quem quas dolores id, id quem appetere nam. Cu vis offendit perfecto erroribus, sapientem corrumpit at vix. Mutat solet laboramus his ad, no vis debet integre, iuvaret facilisi persecuti qui ut. Modo impetus adipisci no mel, id numquam consetetur vel. Cu has quot animal consequat, nostro quodsi suscipit eam ei, ea idque nominati qui. Mei no elit noster.</p>
    
  </div>
</div>

<div class="row whiteUI device-md visible-md visible-lg">
  <h1> LARGE SCREEN BRO</h1>
  <table class="table">
    <div id="head_nav">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
</div>  

    <tr>
        <th>10:00 - 11:00</th>
        
            <td>Physics-1</td>
            <td>English</td>
            <td title="No Class" class="Holiday"></td>
            <td>Chemestry-1</td>
            <td>Alzebra</td>
            <td>Physical</td>
        </div>
    </tr>

    <tr>
        <th>11:00 - 12:00</td>
        
            <td>Math-2</td>
            <td>Chemestry-2</td>
            <td>Physics-1</td>
            <td>Hindi</td>
            <td>English</td>
            <td>Soft Skill</td>
        </div>
    </tr>

    <tr>
        <th>12:00 - 01:00</td>
        
            <td>Hindi</td>
            <td>English</td>
            <td>Math-1</td>
            <td>Chemistry</td>
            <td>Physics</td>
            <td>Chem.Lab</td>

        </div>
    </tr>

    <tr>
        <th>01:00 - 02:00</td>
        
            <td>Cumm. Skill</td>
            <td>Sports</td>
            <td>English</td>
            <td>Computer Lab</td>
            <td>Header</td>
            <td>Header</td>

        </div>
    </tr>

    <tr>
        <th>02:00 - 03:00</td>
        
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
        </div>
    </tr>
</table>
</div>

<div class="row whiteUI device-xs visible-xs visible-sm">
    <h1> SMALL SCREEN BRO</h1>
      <table class="table">
        <tr>
          <th>Monday</th>
          <th></th>
        </tr>
        <tr>
          <td>Physics-1</td>
          <td>10:00 - 11-00</td>
        </tr>
        <tr>
          <td>Math-2</td>
          <td>12:00-1:00</td>
        </tr>
        <tr>
          <td>Hindi</td>
          <td>1:30-2:00</td>
        </tr>
        <tr>
          <td>Cumm. Skill</td>
          <td>2:30-4:00</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>4:00-5:00</td>
        </tr>
      </table>
      
       <table class="table">
        <tr>
          <th>Tuesday</th>
          <th></th>
        </tr>
        <tr>
          <td>Physics-1</td>
          <td>10:00 - 11-00</td>
        </tr>
        <tr>
          <td>Math-2</td>
          <td>12:00-1:00</td>
        </tr>
        <tr>
          <td>Hindi</td>
          <td>1:30-2:00</td>
        </tr>
        <tr>
          <td>Cumm. Skill</td>
          <td>2:30-4:00</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>4:00-5:00</td>
        </tr>
      </table>
      
       <table class="table">
        <tr>
          <th>Wensday</th>
          <th></th>
        </tr>
        <tr>
          <td>Physics-1</td>
          <td>10:00 - 11-00</td>
        </tr>
        <tr>
          <td>Math-2</td>
          <td>12:00-1:00</td>
        </tr>
        <tr>
          <td>Hindi</td>
          <td>1:30-2:00</td>
        </tr>
        <tr>
          <td>Cumm. Skill</td>
          <td>2:30-4:00</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>4:00-5:00</td>
        </tr>
      </table>
      
       <table class="table">
        <tr>
          <th>Thursday</th>
          <th></th>
        </tr>
        <tr>
          <td>Physics-1</td>
          <td>10:00 - 11-00</td>
        </tr>
        <tr>
          <td>Math-2</td>
          <td>12:00-1:00</td>
        </tr>
        <tr>
          <td>Hindi</td>
          <td>1:30-2:00</td>
        </tr>
        <tr>
          <td>Cumm. Skill</td>
          <td>2:30-4:00</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>4:00-5:00</td>
        </tr>
      </table>
      
       <table class="table">
        <tr>
          <th>Friday</th>
          <th></th>
        </tr>
        <tr>
          <td>Physics-1</td>
          <td>10:00 - 11-00</td>
        </tr>
        <tr>
          <td>Math-2</td>
          <td>12:00-1:00</td>
        </tr>
        <tr>
          <td>Hindi</td>
          <td>1:30-2:00</td>
        </tr>
        <tr>
          <td>Cumm. Skill</td>
          <td>2:30-4:00</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>4:00-5:00</td>
        </tr>
      </table>
      
       <table class="table">
        <tr>
          <th>Saturday</th>
          <th></th>
        </tr>
        <tr>
          <td>Physics-1</td>
          <td>10:00 - 11-00</td>
        </tr>
        <tr>
          <td>Math-2</td>
          <td>12:00-1:00</td>
        </tr>
        <tr>
          <td>Hindi</td>
          <td>1:30-2:00</td>
        </tr>
        <tr>
          <td>Cumm. Skill</td>
          <td>2:30-4:00</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>4:00-5:00</td>
        </tr>
      </table>
</div>

<div class="row whiteUI">
  <h1>FLOW CHART BRO</h1>
  <div class='svg-container'>
    <%= raw @flowchart %>
    </div>
</div>