<div class="row jumbo blackUI" >
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <form role="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>
    <div class="form-group">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
      <a class="btn btn-primary btn-lg" href='register' role="button">Register</a></p>
    </div>
  </div>
  <div class=" col-md-4">
    <img class='img-responsive' style="display: block;margin:0 auto;" src="/assets/papers.png">
  </div>
  
</div>

<div class="row whiteUI">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Mir d'Loft schéinste Kirmesdag jo. Ech engem.</h1>
    <p>An duis vidit labore duo. Libris aliquando quo ei, eos eu modus ceteros corrumpit, eu dolor dolorum vulputate eam. Eum debet sententiae ad, ea vel cibo habeo splendide. Ea vix sanctus vivendo nostrum, an soluta praesent interpretaris per, exerci civibus definiebas ex mei. Nec convenire evertitur an.</p>
    <p>Feugiat molestie sed ex, eam et atqui congue abhorreant. Pro quem quas dolores id, id quem appetere nam. Cu vis offendit perfecto erroribus, sapientem corrumpit at vix. Mutat solet laboramus his ad, no vis debet integre, iuvaret facilisi persecuti qui ut. Modo impetus adipisci no mel, id numquam consetetur vel. Cu has quot animal consequat, nostro quodsi suscipit eam ei, ea idque nominati qui. Mei no elit noster.</p>
    
  </div>
</div>

      