<div class="row jumbo" >
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <h1>Pick the classes you need.</h1>
    <form role="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>
    <div class="form-group">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
    </div>
  </div>
  <div class=" col-md-4">
    <img class='img-responsive' src="/assets/papers.png">
  </div>
</div>

<div class="row whiteGround">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <h1>Pick the classes you need.</h1>
  </div>
</div>

      