<div style="padding:0" class="row whiteUI">
<div class="container">
  <div class="row">
    <%= render 'form' %>
    <div style="height: 75px;"></div><!--Adding this here because pulling right on the save button -->
  </div>
</div>
</div>