<div class="row footer">
    <div class="col-md-12">
        <h4>Built and designed in Fayetteville, AR</h4>
        <h4>__________________________________________</h4>
        <h4>Copyright 2014 &copy; Cory McDonald - Matt Luther - Will Turner - Lucas Dorrough</h4>
    </div>
</div>