<div class="jumbotron">
    <div class = "container">
      <div class="row">
          <div class="col-md-5">
            <h1>Pick the classes you need.</h1>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
          </div>
          <div class="col-xs-12 col-md-7">
            <img class='img-responsive'src="/assets/papers.png">
          </div>
        </div>
    </div>
</div>