<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <!--Fix this column stuff -->
      <div class="col-xs-12 col-lg-8">
        <a class="brand" href="#"> <img class="img-responsive"src="/assets/NamelogoS.png"></a>
      </div>
      <div class="col-lg-4">
        
      </div>
  </div>
</nav>